backup-db/
ewww/
languages/
updraft/
upgrade/
uploads/
index.php
plugins/co-authors-plus
plugins/contact-form-7
plugins/date-range-filter
plugins/ewww-image-optimizer
plugins/optimize-images-resizing
plugins/redux-framework
plugins/revslider
plugins/regenerate-thumbnails
plugins/rvg-optimize-database
plugins/term-management-tools
plugins/sitepress-multilingual-cms
plugins/user-role-editor
plugins/vc-addons-pro
plugins/wp-mail-smtp
plugins/wp-super-cache
plugins/wpml-all-import
plugins/wpml-cms-nav
plugins/wpml-media-translation
plugins/wpml-sticky-links
plugins/wpml-string-translation
plugins/wpml-translation-management

